.top-book-now {
    text-align: center;
    margin-top: 80px;

    p {
        margin: 0;
    }

    .button-wrap {
        width: fit-content;
        margin: auto;
        margin-top: 40px;

        .button {
            width: 168px;
            height: 48px;
            gap: 5px;
            border-radius: 40px;
            background: none;
            border: 1px solid #D8D8D8;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .title {
        text-transform: uppercase;
        line-height: 26.4px;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .listings {
        display: flex;
        flex-direction: row;
        gap: 32px;
        width: 1280px;
        margin: 22px;

        .listing {
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;

            .stars {
                position: absolute;
                top: 20px;
                right: 20px;
                background: #00000080;
                width: 45px;
                height: 17px;
                border-radius: 8px;
                padding: 8px;
                display: flex;
                gap: 8px;
                color: #E5E5E5;
                font-size: 12px;
                line-height: 14px;
                align-items: center;
                justify-content: center;
            }

            .listing-image {
                width: 256px;
                height: 256px;
                border-radius: 12px;
            }

            .listing-bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .left-side {
                    text-align: left;

                    .listing-title {
                        font-size: 16px;
                        line-height: 24px;
                        color: #1A1A1A;
                    }

                    .listing-location {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }

                .right-side {
                    display: flex;
                    gap: 8px;

                    p {
                        font-size: 18px;
                        line-height: 27px;
                        color: #191919;
                    }
                }
            }
        }
    }
}
