.why-choose-us {
    text-align: center;

    p {
        margin: 0;
    }

    .title {
        text-transform: uppercase;
        line-height: 26.4px;
        font-size: 24px;
        margin-bottom: 50px;
    }

    .listings {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 280px;
        margin: auto;

        .listing {
            display: flex;
            flex-direction: column;
            gap: 48px;
            align-items: center;

            .listing-icon {
                width: 80px;
                height: 80px;
                background: #EBF9FF;
                border-radius: 16px;
                padding: 8px;

                svg {
                    transform: translateY(60%);
                    top: 50%;
                }
            }

            .listing-text {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .listing-title {
                    font-size: 20px;
                    line-height: 30px;
                }

                .listing-description {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25.6px;
                    text-align: center;
                }
            }
        }
    }
}
